* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Khula', sans-serif;
    background-color: #f7ead2;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    width: 1200px;
    height: 120px;
    margin: auto;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-weight: 800;
    font-style: normal;
    line-height: normal;
}

.header__logo {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.header__logo div{
    padding-left: 14px;
}

.header__nav {
    width: 533px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.header__nav a img{
    padding-left: 8px;
}

.name__Be {
    color: #F25822;
}

.home {
    padding-top: 45px;
    padding-bottom: 103px;
    width: 1200px;
    margin: auto;
    display: flex;
    font-weight: 800;
    font-style: normal;
    line-height: normal;
}

.home__header {
    width: 522px;
    padding-bottom: 17px;
    font-size: 60px;
}

.home__text {
    width: 466px;
    padding-bottom: 37px;
    font-size: 20px;
    color: #888;
}

.home img {
    padding-left: 39px;
}

.home__button {
    display: flex;
    align-items: center;
    color: #AAA;
    font-size: 15px;
}

.button__start {
    margin-right: 72px;
    padding: 16px 36px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
}

.brand {
    padding-top: 97px;
    padding-bottom: 96px;
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.features {
    padding: 100px 0px;
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 800;
}

.feature__item {
    width: 370px;
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 25px;
}

.feature__item__shadow {
    /* background: #ffffff; */
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.feature__item__header {
    padding-top: 25px;
    padding-bottom: 17px;
    color: #000;
    font-size: 24px;
    line-height: normal;
}

.feature__item__text {
    padding-bottom: 25px;
    width: 310px;
    color: #666;
    font-size: 15px;
    line-height: 150%;
}

.feature__item__more {
    color: #000;
    font-size: 11px;
    line-height: 150%;
}

.services {
    width: 1200px;
    margin: auto;
    padding-top: 92px;
    padding-bottom: 100px;
    font-weight: 800;
    font-style: normal;
}

.service__head {
    width: 682px;
    margin: auto;
    margin-bottom: 54px;
    text-align: center;
}

.service__head__title {
    padding-bottom: 19px;
    color: #000;
    font-size: 45px;
    line-height: normal;
}

.service__head__text {
    color: #666;
    font-size: 16px;
    line-height: 150%;
}

.service__items {
    display: flex;
    justify-content: space-between;
}

.service__item {
    width: 370px;
    text-align: center;
    display: grid;
    grid-template-rows: 280px 1fr;
    background-color: #f5ecda;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.service__item__shadow {
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.service__item__title {
    padding-bottom: 22px;
    color: #000;
    font-size: 24px;
    line-height: normal;
}

.service__item__text {
    padding-bottom: 39px;
    padding-left: 30px;
    padding-right: 30px;
    color: #AAA;
    font-size: 15px;
    line-height: 150%;
}

.service__item__more {
    width: 150px;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    color: #FFF;
    font-size: 13px;
    line-height: 150%;
    background-color: #F25822;
    border-radius: 25px;
}