* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Khula', sans-serif;
    background-color: #f7ead2;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    width: 1200px;
    height: 120px;
    margin: auto;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-weight: 800;
    font-style: normal;
    line-height: normal;
}

.header__logo {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.header__logo div{
    padding-left: 14px;
}

.header__nav {
    width: 533px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.header__nav a img{
    padding-left: 8px;
}

.name__Be {
    color: #F25822;
}

.home {
    padding-top: 45px;
    padding-bottom: 162px;
    width: 1200px;
    margin: auto;
    display: flex;
    font-weight: 800;
    font-style: normal;
    line-height: normal;
}

.home__header {
    width: 522px;
    padding-bottom: 17px;
    font-size: 60px;
}

.home__text {
    width: 466px;
    padding-bottom: 37px;
    font-size: 20px;
    color: #888;
}

.home img {
    padding-left: 39px;
}

.home__button {
    display: flex;
    align-items: center;
    color: #AAA;
    font-size: 15px;
}

.button__start {
    margin-right: 72px;
    padding: 16px 36px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
}

.footer {
    padding-top: 97px;
    padding-bottom: 96px;
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}